{% extends "admin/base_site.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('NEW TITLE') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Your new Title</a></h1>
{% endblock %}

{% block nav-global %}
<details>
  <summary>See Notifications</summary>

    {% for notification in notifications %}
            <tr>
                <td>{{ notification.sender }}</td>
                <td>{{ notification.text }}</td>
            </tr>

    {% endfor %}
</details>

{% endblock %}